* {
  font-style: normal;
}

html {
  background: url("../images/WaterDS.png");
  background-size: cover;
}

.png {
  max-height: 100%;
  max-width: 100%;
}

.title {
  display: flex;
  justify-content: center;
}

h1 {
  background-color: aqua;
}

.thirds {
  text-align: center;
  width: 100%;
}

.leftAlign {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 0 auto;
  background-color: aqua;
}

.centerGrid {
  display: inline-block;
  vertical-align: top;
  width: 31%;
}

.rightAlign {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 0 auto;
  background-color: aqua;
}

.grid {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px ;
  padding: 20px 30px 20px 30px;
  gap: 0px;
  background-color: #104d4d;
}

.grid > div {
  background-color: #205c5a;
  width: 40px;
  height: 40px;
  padding: 0px 0px;
}

button {
  width: 100%;
  height: 100%;
  background-color: blue;
  color: white;
}

.enemy {
  background-color: red;
}
.enemy > button {
  background-color: red;
}

#confirm {
  background-color: green;
  color: white;
  font-size: 30px;
}

.special {
  background-color: red;
}

.miss {
  background-color: gray;
}

.playerPiece {
  background-color: lime;
}

.enemyPiece {
  background-color: yellow;
}

#startGame {
  background-color: yellow;
}

.shot {
  background-color: gray;
}
.hitPlayer {
  background-color: red;
}

.shotOnEnemy {
  background-color: orange;
}

.hitEnemy {
  background-color: red;
}

#redo {
  background-color: green;
  color: white;
  font-size: 30px;
}


.boats {
    display: flex;
    flex-direction: column;
}
.boat1 {
    cursor: move;
    width: 60px;
    height: 20px;
    background-color: lime;
    
}
.boat2 {
    cursor: move;
    width: 80px;
    height: 20px;
    background-color: yellow;
    
}
.boat3 {
    cursor: move;
    width: 80px;
    height: 20px;
    background-color: blue;
    
}
.boat4 {
    cursor: move;
    width: 120px;
    height: 20px;
    background-color: red;
    
}
.boat5 {
    cursor: move;
    width: 160px;
    height: 20px;
    background-color: purple;
    
}