* {
  font-style: normal;
}

body {
  background: url("../images/WaterDS.png");
  background-size: cover;
  color: white;
}

.png {
  max-height: 100%;
  max-width: 100%;
}

.title {
  display: flex;
  justify-content: center;
}

h1 {
  background-color: #072158;
  padding: 30px;
  border-radius: 15px;
}

.thirds {
  text-align: center;
  width: 100%;
}

.leftAlign {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin: 0px 30px 0px 10px;
  background-color: #072158;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
}

.centerGrid {
  display: inline-block;
  vertical-align: top;
  width: 31%;
}

.rightAlign {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 0px 10px 0px 30px;
  
  border-radius: 15px;
}

h2 {
  margin: 0px 0px 0px 0px;
  background-color: #072158;
  border-radius: 15px;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px ;
  padding: 20px 30px 20px 30px;
  gap: 0px;
  background-color: #072158;
  border-radius: 15px;
}

.grid > div {
  background-color: #205c5a;
  width: 40px;
  height: 40px;
  padding: 0px 0px;
}

button {
  width: 100%;
  height: 100%;
  background-color: #29b4ff;
  color: #771c36;
}

.enemy {
  background-color: red;
}
.enemy > button {
  background-color: red;
}

#confirm {
  margin-top: 30px;
  background-color: white;
  color: #0a141e;
  font-size: 30px;
  border-radius: 50px;
  transition: all 1s;
  cursor: pointer;
}

#confirm:hover {
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.44), 0 17px 50px 0 rgba(0,0,0,0.39);
    background-color: #072158;
    color: white;
}


.special {
  background-color: red;
}

.miss {
  background-color: gray;
}

.playerPiece {
  background-color: lime;
}

.enemyPiece {
  background-color: yellow;
}

#startGame {
    margin-top: 30px;
    background-color: white;
    color: #0a141e;
    font-size: 30px;
    border-radius: 50px;
    transition: all 1s;
    cursor: pointer;
}
#startGame:hover {
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.44), 0 17px 50px 0 rgba(0,0,0,0.39);
    background-color: #072158;
    color: white;
}

.shot {
  background-color: gray;
}
.hitPlayer {
  background-color: red;
}

.shotOnEnemy {
  background-color: orange;
}

.hitEnemy {
  background-color: red;
}

#redo {
    margin-top: 30px;
    background-color: white;
    color: #0a141e;
    font-size: 30px;
    border-radius: 50px;
    transition: all 1s;
    cursor: pointer;
}
#redo:hover {
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.44), 0 17px 50px 0 rgba(0,0,0,0.39);
    background-color: #072158;
    color: white;
}


.boats {
    display: flex;
    flex-direction: column;
}
.boat1 {
    cursor: move;
    width: 60px;
    height: 20px;
    background-color: lime;
    
}
.boat2 {
    cursor: move;
    width: 80px;
    height: 20px;
    background-color: yellow;
    
}
.boat3 {
    cursor: move;
    width: 80px;
    height: 20px;
    background-color: blue;
    
}
.boat4 {
    cursor: move;
    width: 120px;
    height: 20px;
    background-color: red;
    
}
.boat5 {
    cursor: move;
    width: 160px;
    height: 20px;
    background-color: purple;
    
}